body {
    background-color: floralwhite
}

h1 {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h2 {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h3 {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ff3f04;
}

#topnav {
    font-family: monospace;
}

#main {
    font-family: monospace;
}

p {
    font-family: monospace;
}


li {
    font-family: monospace;
}

ul {
    font-family: monospace;
}

td {
    font-family: monospace;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #805142;
}

#navbar li {
    float: left;
}

#navbar li a {
    font-size: large;
    display: inline-block;
    padding: 8px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#navbar li a:hover {
    background-color: rgb(255, 63, 4);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-family: monospace;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: rgb(255, 63, 4);
}


footer {
    padding: 10px;
    background-color: #805142;
    color: white;
}

#footer-message {
    text-align: center;

}