h2 {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h1 {
    font-size:xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);

}

h2{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h3 {
    font-size: large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

#topnav {
    font-family: monospace;
}

#main {
    font-family: monospace;
}

p {
    font-family: monospace;
}

li {
    font-family: monospace;
}

ul {
    font-family: monospace;
}

td {
    font-family: monospace;
}