h2 {
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h1 {
    font-size:xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);

}

h2{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 63, 4);
}

h3 {
    font-size: large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ff3f04;
}

#topnav {
    font-family: monospace;
}

#main {
    font-family: monospace;
}

p {
    font-family: monospace;
}

li {
    font-family: monospace;
}

ul {
    font-family: monospace;
}

td {
    font-family: monospace;
}
#navbar{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #805142;
  }
  
  li{
    float: left;
  }
  
  li a {
    font-size: large;
    display: inline-block;
    padding: 8px;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(255, 63, 4)}